<% title("Posts") %>
<h1>Posts</h1>

<% @posts.each do |post| %>
	
<div class="title-box">
  <p>
    <%= link_to "#{post.title}", post_path(post.slug) %> <br/>
    <span><small><em><%= time_ago_in_words(post.updated_at) %> ago</em></small></span>
  </p>

</div>
	
<% end %>
	
<div class="pagination-control text-center">
  <%= paginate @posts %> 
</div>
<div class="col-md-6">
 <video autoplay></video>
</div>
<div class="col-md-6">
	<div class="span5" id="pusher_chat_widget">
          </div>
          
</div> 
 <script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };
    
    $(function() {     
    var pusher = new Pusher('a8880231a53bf904066d');
    var chatWidget = new PusherChatWidget(pusher, {
    chatEndPoint: 'pusher-realtime-chat-widget/src/ruby-sinatra/chat.rb'
  });
});
    
    
    
      navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;

      var constraints = { audio: false, video: true };
      var video = document.querySelector("video");

      function successCallback(stream) {
        video.src = window.URL.createObjectURL(stream);
      }

      function errorCallback(error){
        console.log("getUserMedia error: ", error);
      }

      navigator.getUserMedia(constraints, successCallback, errorCallback);
    </script>